
.section__title {
    margin-top: 85px;
    color: var(--color);
    font: 100 100px/1.2 "Playfair Display", serif;
    text-align: center;
}

.images {
    margin: 80px 0;
    display: flex;
    gap: 180px;
    align-items: center;
    padding: 0 0 80px 240px;
}

.image {
    justify-self: start;
    width: 400px;
    height: 400px;
}

.image2 {
    margin-left: auto;
    height: 720px;
    width: 720px;
}


.gallery, .reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.reviews {
    margin-top: 150px;
    gap: 80px;
}

.subtitle__section {
    width: 960px;
    color: var(--color);
    font: 400 24px/1.4 "Inter", sans-serif;
    text-align: center;
    letter-spacing: -0.5px;
}

.button, .input {
    color: var(--color);
    background: transparent;
    border-radius: 44px;
    font-size: 20px;
    padding: 12px 24px;
    border: 1px solid var(--color);
    box-sizing: border-box;
    letter-spacing: -0.035em;
}

.button {
    text-align: center;
    max-width: 240px;
    height: 52px;
}

.more {
    margin-top: 40px;
}

.mini__gallery {
    display: flex;
    gap: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card__title {
    font: 20px "Inter", sans-serif;
    text-align: center;
    color: var(--color);
}

#search, #heart, #bag {
    width: 24px;
    height: 24px;
}

.gallery__image {
    border-radius: 10px;
}

.nature {
    display: flex;
    margin-top: 150px;
    gap: 120px;
    padding-right: 140px;
}

.nature__description {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: var(--color);
    align-self: center;
    width: 500px;
}

.nature__title {
    font-size: 64px;
    font-weight: 100;
    line-height: 1.1;
    color: var(--color);
}

.nature__text {
    line-height: 1.4;
    font-size: 20px;
}

.catalog {
    margin-top: 150px;
}

.catalog__title {
    padding: 0 200px;
    text-align: center;
    line-height: 1.1;
}

.catalog__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 40px;
    justify-items: center;
    margin-top: 80px;
}

.catalog__card {
    box-sizing: border-box;
    padding: 80px;
    background: #FCF1E0;
    width: 360px;
    height: 360px;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catalog__label, .price {
    font: 20px "Inter", sans-serif;
    color: var(--color);
    text-align: center;
    line-height: 1.4;
}

.catalog__label {
    margin-top: 10px;
}

.price {
    margin-top: 15px;
    color: #D0B0AB;
    display: block;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 250px;
    padding-bottom: 80px;
}

.footer__head {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot {
    width: 290px;
    text-align: left;
}

.input {
    text-align: left;
    max-width: 210px;
    height: 52px;
    
    
}

.input::placeholder {
    font: 20px "Inter", sans-serif;
    color: var(--color);
    opacity: 0.5;
}

.input__email {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input__zone {
    display: flex;
    gap: 10px;
    width: 290px;
}

.input__label {
    width: 210px;
    font: 12px "Inter", sans-serif;
    color: var(--color);
    letter-spacing: -0.4px;
}

.arrow__button {
    background: var(--color);
    border-radius: 44px;
    padding: 12px 24px;
    border: 1px solid var(--color);
    width: 72px;
    height: 52px;
    box-sizing: border-box;
    letter-spacing: -0.035em;
}

.politics {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color);
    margin-top: 26px;
    font-size: 16px;
}

.icons2 {
    display: flex;
    gap: 26px;
}

.politics__sub {
    width: 241px;
    align-self: start;
}

.off {
    position: absolute;
    left: 47%;
    width: 58px;
}
.footer__links {
    display: flex;
    flex-direction: row;
    gap: 40px;
}